body {
    display: grid;
    grid-gap: 0;
    border: 0px;
    margin: 0px;
    background: black;    
}

* {
    all: none;
}

/* This will be the top navigation bar */
.topHome {
    background-image: url('/pictures/woods');
    background-repeat: no-repeat;
    background-position: center;
    height: 520px;
    width: 100%;
    background-size: 100%;
    border-bottom: #3c2144cc 4px groove; 
    
    font-family: "Courier New", Courier, monospace;
    letter-spacing: 8px;
    font-style: oblique 0deg;    
}

.topPhotography {
    background-image: url('/pictures/lightning2');
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 520px;
    width: 100%;
    background-size: 100%;
    border-bottom: #3c2144cc 4px groove; 
    
    font-family: "Courier New", Courier, monospace;
    letter-spacing: 8px;
    font-style: oblique 0deg;
}

.topWork {
    background-image: url('/pictures/mexico');
    background-repeat: no-repeat;
    background-position: top;
    height: 520px;
    width: 100%;
    background-size: 100%;
    border-bottom: #3c2144cc 4px groove; 
    
    font-family: "Courier New", Courier, monospace;
    letter-spacing: 8px;
    font-style: oblique 0deg;    
}

.topBar {
    display: grid;
    grid-template-columns: repeat(5, 300px);
    grid-gap: .1em;
    grid-auto-columns: minmax(100px, auto);
    grid-auto-rows: minmax(50px, auto);
    background-color: #00000044;    
    border-bottom: #342638a4 2px groove; 
}

.topBar > div{
    padding: .1em;
    margin: .5em;
    border-radius: .21em;
    background: #7b6d8d7a;
    color: #A5C4D4;
    text-align: center;
    
    
    /*This is the general font to be used throughout*/
    font-family: "Courier New", Courier, monospace;
    font-size: 22px;
    letter-spacing: 12px;
    word-spacing: 2px;
    font-weight: 800;
    font-style: oblique 10deg;
    font-variant: small-caps;
    text-transform: none;
    text-shadow: 2px 2px 3px #e5f1f73a;
}
.topBar > div:hover{
    cursor: pointer;
    background-color: #7b6d8d;
    color: black;;
}

.topBar > div:nth-child(odd){
    background: #593f6281;
    color: #8499B1;
}
.topBar > div:nth-child(odd):hover{
    cursor: pointer;
    background-color: #7b6d8d;
    color: black;
}

#hello1 {
    color: #bda1afa4;
    text-align: Center;
    font-size: 46px;
    text-shadow: 2px 2px 8px #bda1afc5;
    padding-top: 2%;
}

#hello2 {
    color: #bda1afc2;
    text-align: Center;
    font-size: 28px;
    text-shadow: 2px 2px 10px #bda1af7c;
}

#hello3 {
    color: #bda1af25;
    text-align: Center;
    text-shadow: -2px -2px 1px #ffffffbd;
    font-size: 20px;
}

.bottom {
    display: grid;
    grid-template-columns: 15% 85%;
    min-height: 600px;
    /* 
    grid-column-gap: 1em;  - Sets the gap between columns to 1em
    grid-row-gap: 1em;  - em is relative size of text
    */
}

.bottomLeft {
    background: rgba(207, 207, 214, 0.288);
    border-right: #bc62d82d 4px groove; 
    text-align:center;
    
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax (100px, auto);
    
    font-family: "Courier New", Courier, monospace;
    font-size: 22px;
    letter-spacing: 12px;
    word-spacing: 2px;
    font-weight: 600;
    font-style: oblique 0deg;
    font-variant: small-caps;
    text-transform: none;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px #a392e4;
}

#bottomListTitle {
    padding-top: 4vh;
    padding-bottom: 4vh;
    font-family: "Courier New", Courier, monospace;
    font-size: 34px;
    letter-spacing: 12px;
    word-spacing: -20px;
    font-weight: 350;
    font-style: oblique 10deg;
    font-variant: small-caps;
    text-transform: none;
    color: white;
    text-shadow: 1px 2px 2px #a392e4;
}

.bottomLeft > div{
    background: #7b6d8d7a;
    padding: .3em;
    /* margin: auto; */
}

.bottomLeft > div:hover{
    cursor: pointer;
    color: white;
    text-shadow: 2px 2px 2px #a392e4;
}

.bottomLeft > div:nth-child(odd){
    background: #593f6281;
}


/* Bottom right for Content Area */
.bottomRight{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax (100px, auto);
    flex-wrap: wrap;
    

    background-color: black;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 22px;
    letter-spacing: 12px;
    word-spacing: 2px;
    font-weight: 800;
    font-style: oblique 10deg;
    font-variant: small-caps;
    text-transform: none;
    text-shadow: 1px 1px 1px #0000009f;
}

#fw1 {
    height: 55vh;
    margin: 4em 0 0 3.5em;
    border: white solid;
    border-radius: 5px;
}


#fw2 {
    height: 45vh;
    margin: 4em 0 0 3.5em;
    border-radius: 5px;
}

.footer {
    background: rgb(51, 51, 51);
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: #593f62 8px groove; 
}

/*  */
/* about me */
/*  */

#aboutMe{
    font-family: "Courier New", Courier, monospace;
    height: 45vh;
    margin: 4em 0 0 0em;
    font-size: 23px;
    letter-spacing: 2px;
    word-spacing: -2px;
    line-height: 1.5;
    font-weight: 400;
    font-style: oblique 0deg;
    font-variant: none;
    text-transform: none;
    color: #e5f1f7e7;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10vh;
}






#subjectMatter {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}

#pictureStats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding-left: 5vw;
    line-height: 2px;
    overflow-wrap: normal;
    /* overflow: hidden;  */
    /* white-space: nowrap; */
    padding-right: 30px;
}



#title {
    padding-top: 2%;
    font-size: 30px;
    font-weight: 550;
    text-decoration: underline;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    letter-spacing: 3px;
    font-style: oblique 0deg;
    font-variant: normal;
    text-transform: none;
    color: #e6ecf0;
}

#pictureStats > p:nth-child(even){
    font-family: "Courier New", Courier, monospace;
    font-size: 23px;
    letter-spacing: 12px;
    word-spacing: 2px;
    font-weight: 600;
    font-style: oblique 0deg;
    font-variant: small-caps;
    text-transform: none;
    color: #e5f1f79f;
}



#pictureStats > p:nth-child(odd){
    font-family: "Courier New", Courier, monospace;
    font-size: 38px;
    letter-spacing: 12px;
    word-spacing: 2px;
    font-weight: 350;
    font-style: oblique 10deg;
    font-variant: small-caps;
    text-transform: none;
    text-shadow: 2px 2px 0px #a392e4;
}

#blurb{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 22px;
    letter-spacing: 3px;
    font-weight: 200;
    font-style: oblique 0deg;
    font-variant: normal;
    text-transform: none;
    color: #e6ecf0;
}









/* ===================Comments=================== */
label{
    justify-self: center;
    display: flex;
    text-align: center;
    padding: 40px;
}

#comments{
    display: flex;
    flex-direction: column;
    background: lightgrey;
    /* margin: 5vw; */
    width: 100%;
    /* justify-content: center; */
    align-items: center;
    
}

#commentBoxes {
    display: flex;
    background: white;
    width: 90%;
    flex-direction: column;
}

#commentBoxes > p {
    display: flex;
    background: red;

}

#commentBoxes > p:nth-child(odd){
    display: flex;
    background: #593f6281;
    color: #8499B1;
}

.comment-card {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    text-align: center;
    border-radius: 4px;
    
    border: 2px solid #232323;
    font-size: 17px;
    padding: 5px;
    
    width: 120px;
    height: 30px;
    
    transition: all 0.2s;
    cursor: pointer;
    margin: 20px;
    color: black;
    background-color: red;
    border: 5px solid rgb(139, 93, 93);
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  }

#commentInputs {
    background: darkblue;
    padding: 20px;
    width: 90%;
}

.words {
    font-size: 20px;
    margin: 5px ;
}
